@charset "UTF-8";
.container {
  margin-inline: auto;
  max-width: 1190px;
}

/* headline */
.headline {
  margin-bottom: 40px;
}
.headline .headline__min {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 1.2;
  letter-spacing: 0.8px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.headline .headline__min::before {
  content: "";
  width: 14px;
  height: 3.5px;
  margin-right: 10px;
  background: #FFD52C;
}
.headline.--center .headline__min {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headline .headline__item {
  font-size: 27px;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
.headline .headline__item.--bold {
  font-weight: bold;
  display: block;
  margin-top: 5px;
  font-size: 42px;
  line-height: 1.5;
  letter-spacing: 0.8px;
}
.headline.--center .headline__item {
  text-align: center;
}

/* faqセクション */
.faq__section {
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: #f5f5f5;
}

.faq__item {
  background-color: #fff;
  border-radius: 15px;
  padding: 8px 14px;
  font-size: 21px;
  line-height: 1.5;
  width: 85%;
  margin-inline: auto;
  letter-spacing: 0.8px;
}
.faq__item + .faq__item {
  margin-top: 20px;
}
.faq__item.-appear .faq__q::after {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.faq__item.-appear .faq__a {
  -webkit-transition: max-height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
  transition: max-height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
  max-height: 500px;
  padding-top: 22px;
  padding-bottom: 18px;
  padding-left: 14px;
  padding-right: 14px;
}

.faq__q {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  padding: 22px 14px 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq__q::after {
  content: "";
  width: 64px;
  height: 24px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 16px;
  background: url(../img/arrow-pc.svg) center center no-repeat;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.faq__q .faq__q-item {
  color: #FF812C;
  font-size: 26px;
  font-weight: 700;
  margin: 0 20px;
}

.faq__a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  max-height: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: all 0.2s, padding-left 0.3s 1s, padding-right 0.3s 1s;
  transition: all 0.2s, padding-left 0.3s 1s, padding-right 0.3s 1s;
  overflow: hidden;
}
.faq__a .faq__a-item {
  color: #2A5CAA;
  font-size: 26px;
  font-weight: 700;
  margin: 0 20px;
}

@media screen and (max-width: 991px) {
  .faq {
    padding-top: 46px;
    padding-bottom: 46px;
  }

  .faq__item {
    width: 95%;
    font-size: 1rem;
    padding: 5px;
  }
  .faq__item.-appear .faq__a {
    -webkit-transition: max-height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
    transition: max-height 0.5s, padding-top 0.5s, padding-bottom 0.5s;
    padding: 10px 20px;
  }

  .faq__q {
    padding: 10px 20px;
  }
  .faq__q .faq__q-item {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
  }

  .faq__q::after {
    width: 14px;
    height: 14px;
    right: 5px;
    background: url(../img/arrow.svg) center center no-repeat;
  }

  .faq__a .faq__a-item {
    font-size: 1.3rem;
    margin: 0 10px 0 0;
  }
}