/* ベーススタイル */
body {
  font-size: 14px;
}
.content {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px;
  margin-top: 20px;
}
form div {
  margin-bottom: 20px;
}
textarea {
  display: block;
}

/* エラーメッセージのスタイル */
.error {
  width : 100%;
  padding: 0;
  display: inline-block;
  font-size: 90%;
  color: red;
  box-sizing: border-box;
}