@charset "UTF-8";
/*----------------------------------------------------------*/
/* 共通設定 */
/*----------------------------------------------------------*/
ol {
  counter-reset: count 0;
  list-style-type: none;
  padding-left: 30px;
}
ol li::before {
  counter-increment: count 1;
  content: counters(count, ".") ".";
}

main.contents {
  background-color: #E2F2EF;
  letter-spacing: 0.08em;
}

.container {
  max-width: 1120px;
  padding-top: 20px;
  margin-inline: auto;
  width: 90%;
}

/* タイトル */
.title {
  padding: 30px 0;
  margin-bottom: 20px;
  background-color: #fff;
}
.title.--center {
  text-align: center;
}
.title h2.title__item {
  font-size: 1.75rem;
  font-weight: bold;
  color: #007e69;
}

/* ヘッドライン */
.headline {
  background-color: #FFF9EE;
  font-weight: bold;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  padding: 10px 0;
}
.headline.--center {
  text-align: center;
}
.headline h3.headline__item {
  font-size: 1.5rem;
}

/*----------------------------------------------------------*/
/* 利用規約 */
/*----------------------------------------------------------*/
article.terms {
  padding-bottom: 50px;
}
article.terms article.terms__item {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  border-top-style: none;
  padding-bottom: 20px; /*over-flowのためのポイント*/
}
article.terms article.terms__item .terms__document {
  height: 70vh;
  overflow-y: scroll;
  padding: 40px;
  line-height: 1.5;
}

/*----------------------------------------------------------*/
/* プライバシーポリシー */
/*----------------------------------------------------------*/
article.privacy {
  padding-bottom: 50px;
}
article.privacy article.treatment, article.privacy article.policy {
  background-color: #fff;
  border: 1px solid #ccc;
  border-top-style: none;
  padding-bottom: 20px; /*over-flowのためのポイント*/
}
article.privacy article.policy {
  border-radius: 4px 4px 0 0;
  border-bottom-style: none;
}
article.privacy article.policy .policy__document {
  height: 60vh;
  overflow-y: scroll;
  line-height: 1.5;
  padding: 40px;
}
article.privacy article.policy .policy__document p.--right {
  text-align: right;
}
article.privacy article.treatment {
  border-radius: 0 0 4px 4px;
}
article.privacy article.treatment .headline {
  border-radius: 0;
}
article.privacy article.treatment .treatment__document {
  height: 60vh;
  overflow-y: scroll;
  line-height: 1.5;
  padding: 40px;
}
article.privacy article.treatment .treatment__document table {
  width: 100%;
  border: solid 2px #555;
  border-collapse: collapse;
}
article.privacy article.treatment .treatment__document table thead > tr > th {
  border-bottom: 2px solid #999;
  white-space: nowrap;
  text-align: center;
}
article.privacy article.treatment .treatment__document table th, article.privacy article.treatment .treatment__document table td {
  border: 1px solid #bbb;
  padding: 2px 8px 0;
  text-align: left;
}
article.privacy article.treatment .treatment__document table th p.--indent-1, article.privacy article.treatment .treatment__document table td p.--indent-1 {
  padding-left: 1rem;
  text-indent: -1rem;
}
article.privacy article.treatment .treatment__document table td.--left {
  width: 50%;
  text-align: center;
  vertical-align: middle;
}
article.privacy article.treatment .treatment__document p.--right {
  text-align: right;
}

@media screen and (max-width: 640px) {
  article.privacy article.treatment .treatment__document table thead > tr > th {
    display: none;
  }
  article.privacy article.treatment .treatment__document table th, article.privacy article.treatment .treatment__document table td {
    display: block;
    width: 100%;
  }
  article.privacy article.treatment .treatment__document table td.--left {
    width: 100%;
    background-color: #007e69;
    color: #fff;
  }
}