<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>チャプター画面 - QuizApp</title>
  <link rel="stylesheet" href="../../assets/destyle.css"> <!-- リセットCSS -->
  <link rel="stylesheet" href="./css/chapters.css">
</head>

<body>
  <!-- ヘッダー -->
  <header></header>

  <!-- メインコンテンツ -->
  <main>
    <!-- サイドバー -->
    <aside class="sidebar">
      <a href="#" class="sidebar__item">Topページ</a>
      <a href="#" class="sidebar__item">Myページ</a>
      <a href="#" class="sidebar__item">学習の方法</a>
      <a href="#" class="sidebar__item">ヘルプ</a>
    </aside>
    <!-- コンテンツエリア -->
    <article class="main-content">
      <!-- パンくずリスト -->
      <div class="breadcrumbs">
        パンくず > パンくず
      </div>
      <!-- メインコンテンツをコンテナで囲む -->
      <div class="container">
        <!-- ここからメインコンテンツ -->
        <h1>チャプタータイトル</h1> <!-- railsの場合は<%= markdown(@chapter.chapter_title) %> -->
        <!-- 以下、railsの場合<%= markdown(@chapter.content) %>で置き換え -->
        <p>概要。Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur.</p>
        <h2>目次</h2>
        <ol>
          <li><a href="#toc-1">Adobe Premire Pro</a></li>
          <li><a href="#toc-2">poipoi poipoi 2</a></li>
          <li><a href="#">poipoi poipoi poipoi</a></li>
          <li><a href="#">poipoi poipoi poipoi</a></li>
          <li><a href="#">練習問題</a></li>
        </ol>
        <h2 id="toc-1">Adobe Premire Pro</h2>
        <p>
          テキストの装飾。<strong>太字（**囲う**）</strong>。<em>em強調（*囲う*）はこのようにハイライトにした</em>。<strong><em>太字+ハイライト（***囲う***）</em></strong>
        </p>
        <ul>
          <li>リスト=================================</li>
          <li>リスト=================================</li>
          <li>リスト=================================</li>
          <li>リスト=================================</li>
        </ul>
        <img src="./ume.jpg" alt="画像">
        <div class="main-content__link">
          <a href="" class="link-btn">デザインリンクボタン ▶︎ </a>
        </div>
        <h2 id="toc-2">poipoi poipoi 2</h2>
        <h3>クォートブロック</h3>
        <blockquote>
          <p>
            文頭に>を置くことで引用（クオートブロック）になります。
            <br>
            <strong>複数行にまたがる場合、改行のたびにこの記号を置く必要があります。</strong>
            <br>
            **引用の上下にはリストと同じく空行がないと正しく表示されません**
            <br>
            引用の中に別のMarkdownを使用することも可能です。
          </p>
        </blockquote>
        <h3>動画の埋め込み</h3>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/_QUNSiBu4PY" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>

        <h3>コード</h3>

        <h3>コールアウト</h3>
        <div class="main-content__callouts">
          <h4>コールアウト（ヒントとか）</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, <strong><em>sed do eiusmod tempor</em></strong>
            incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <h3>テーブル</h3>
        <table>
          <thead>
            <tr>
              <th style="text-align: left">Left align</th>
              <th style="text-align: right">Right align</th>
              <th style="text-align: center">Center align</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="text-align: left">This</td>
              <td style="text-align: right">This</td>
              <td style="text-align: center">This</td>
            </tr>
            <tr>
              <td style="text-align: left">column</td>
              <td style="text-align: right">column</td>
              <td style="text-align: center">column</td>
            </tr>
            <tr>
              <td style="text-align: left">will</td>
              <td style="text-align: right">will</td>
              <td style="text-align: center">will</td>
            </tr>
            <tr>
              <td style="text-align: left">be</td>
              <td style="text-align: right">be</td>
              <td style="text-align: center">be</td>
            </tr>
            <tr>
              <td style="text-align: left">left</td>
              <td style="text-align: right">right</td>
              <td style="text-align: center">center</td>
            </tr>
            <tr>
              <td style="text-align: left">aligned</td>
              <td style="text-align: right">aligned</td>
              <td style="text-align: center">aligned</td>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </main>
  <!-- フッター -->
  <footer></footer>
</body>

</html>